* {
    font-size: x-large;
}

.contact {
    color:white;
    background-color: yellow;
    background-image:url("../../assets/images/roseImage.jpg");
    display: flex;
    height: 40vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    justify-content: right;
    align-items: end;
    background-position: center;
    font-size: xx-large;
}
.container {
    height: 50%;
    width: 40vh;
    display: flex;
    object-fit: contain;
    align-items: right;
    justify-content: end;
    color: black;
}

img   {
    display: flex;
    height: 100%;
    width: fit-content;
    position: contain;
    background-size: cover;
    background-position: center;

}
