.works {
    color:white;
    background-image: url("../../assets/images/carInFall.jpg");
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    justify-content: center;
    font-size: xx-large;

    background-position: center;
}