.intro {
    background-image: url("../../assets/images/gooseFlyingImage.jpg");
    display: flex;
    color:limegreen;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
}