.testimonials{
    background-color: lightgoldenrodyellow;
    color: white;
    background-image: url("../../assets/images/firepitImage.jpg");
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-size: xx-large;

    text-align: center;
    justify-content: center;
}